doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title test

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 iuoha

      section
        h2 出身　静岡・清水
        h3 ちびまる子ちゃんの聖地
 
      section
        h2 居住地　愛知の端っこ
        h3 まわりを畑と田んぼに囲まれた田舎

      section
        h2.bullet 好きなもの
        ul
          li ゲーム
          li プログラミング
          li 映画・旅行

      section
        h2 ありがとうございました

    script(src='build/build.js')
